body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #ddd;
    display: flex;
}

body.login {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.login-box {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.error-message {
    color: #e74c3c;
    margin: 5px 0 15px;
    font-size: 14px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #2a7f62;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkcyan;
}

.dashboard-container {
    width: 100%;
}

a.logout {
    display: block;
    padding: 10px;
    background-color: #b92929;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a.logout:hover {
    background-color: #db3434;
}

.content-tab {
    padding: 0px 20px;
}

.dashboard-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #059669; /* Header background color */
    color: #fff; /* Header text color */
}
